@font-face {
    font-family: "dogicapixel";
    src: url("../font/dogicapixel.ttf") format("truetype") ;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "mythicpixels";
    src: url("../font/mythic-pixels.ttf") format("truetype") ;
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.hero {
    width: 100%;
    overflow: hidden;    
}

#bgimg1 {
    display: block;
    width: 100vw;
    height: auto;

    image-rendering: pixelated;
    user-select: none;
    -webkit-user-drag: none;
}
#bgimg2 {
    display: block;       /* ← ВАЖЛИВО */
    width: 100vw;
    height: auto;
    image-rendering: pixelated;
}
#text1 {
    top : 100px ;
    font-family: "Tiny5", sans-serif;
    color: white;
    text-align: right;
    margin-right: 25px ;
}
.top_right {
    z-index: 1 ;
    position: fixed ;
    top : 0 ;
    right : 0 ;
    image-rendering: pixelated;
}
.content {
    min-height: 1800px;
}

.paper {
    position: relative;
    max-width: 1200px;     /* фіксована логічна ширина */
    margin: 0 auto;       /* центруємо */
}

.paper img {
    width: 100%;
    display: block;
    image-rendering: pixelated;
}

.paper-content {
    position: absolute;
    top: 5%;
    left: 10%;
    right: 8%;
    bottom: 8%;

    font-family: "Tiny5", sans-serif;
    color: black;

    display: flex;
    flex-direction: column;

    max-width: 900px;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 1.3;
    margin: 12px 0;
}
.cut {
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paper-content .media {
    max-width: 100%;
    image-rendering: pixelated;
    margin: 16px 0;
    align-self: flex-start; /* не розтягує flex */
}
.fade-overlay {
    position: fixed;
    inset: 0;
    background: black;
    z-index: 9999;

    animation: fadeOut 1.2s ease forwards;
}

.media-block {
    position: relative;      /* ЯКІР */
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
}

.media-block .base-img {
    width: 100%;
    display: block;
    image-rendering: pixelated;
}

.media-block .overlay-img {
    position: absolute;
    top: 10px;               /* рухай як хочеш */
    left: 10px;

    width: 64px;             /* розмір оверлею */
    image-rendering: pixelated;
}

/* якщо хочеш текст */
.media-block .overlay-text {
    position: absolute;
    font-family: "Tiny5", sans-serif;
    font-size: 24px;
    color: black;
    padding: 4px 6px;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        pointer-events: none;
    }
}

#t01 {
    color: white ;
    font-family: "Tiny5", sans-serif;
    right: 25px;
    top : 150px ;
}

#mb1 {
    width: 250px;
    height: auto;
}
#mbt1 {
    top: -25px;
    left: 250px;
}
